@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataTable
<div class="app-main__inner">
    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    Branch Filter
                </div>
            </div>
            <div class="card-body">
                <form asp-area="Branch" asp-controller="Branch" asp-action="BranchList">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label" for="branchname">Branch Name</label>
                            <input class="form-control" name="branchname" type="text" placeholder="Branch Name" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="branchcode">Branch Code</label>
                            <input class="form-control" name="branchcode" type="text" placeholder="Branch Code" data-sb-validations="required" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success">Apply</button>
                            <button class="btn btn-danger">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    Branch List
                </div>
                <div class="btn-actions-pane-right">
                    <a asp-area="Branch" asp-controller="Branch" asp-action="BranchAddEdit" class="btn btn-success m-3"> Add New Branch </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
                        <table class="table">
                            <thead>
                            <th>Branch Name</th>
                            <th>Branch Code</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Rows.Count > 0)
                                    {
                                        foreach (DataRow dt in Model.Rows)
                                        {
                                            <tr>
                                                <td>@dt["BranchName"]</td>
                                                <td>@dt["BranchCode"]</td>
                                                <td>
                                                    <form asp-area="Branch" asp-controller="Branch" asp-action="BranchDelete">
                                                        <input type="hidden" name="branchId" value="@dt["BranchID"]" />
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                        <a class="btn btn-primary" asp-area="Branch" asp-controller="Branch" asp-action="editBranch" asp-route-branchId="@dt["BranchID"]">Edit</a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                @*<tr>
                                    <td>MCA</td>
                                    <td>CS&IT</td>
                                    <td><a class="btn btn-danger">DELETE</a> <a class="btn btn-primary">Edit</a> </td>
                                </tr>
                                <tr>
                                    <td>MCA</td>
                                    <td>CS&IT</td>
                                    <td><a class="btn btn-danger">DELETE</a> <a class="btn btn-primary">Edit</a> </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>