@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StudentProject.Areas.State.Models.LOC_StateModel

<div class="app-main__inner">
    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize fw-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"></i>
                    State List
                </div>
                <div class="btn-actions-pane-right">
                    <a asp-controller="State" asp-action="StateAddEdit" class="btn btn-success m-3"> Add New State </a>
                </div>
            </div>

            <div class="card-body">
                <form method="post" asp-area="State" asp-controller="LOC_State" asp-action="Save_State">
                    <div class="mb-3">
                        <label class="form-label" for="country">Country</label>
                        <select class="form-control" asp-for="CountryId">
                            <option value=""></option>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="stateName">State Name</label>
                        <input class="form-control" asp-for="StateName" type="text" placeholder="State Name" data-sb-validations="required" />
                        <span asp-validation-for="StateName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="stateCode">State Code</label>
                        <input class="form-control" asp-for="StateCode" type="text" placeholder="State Code" data-sb-validations="required" />
                        <span asp-validation-for="StateCode" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-danger">Cancle</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}